@color: #0aa;

html, body {
  width: 100%;
  height: 100%;
}

.match-results {
  margin-top: 20px;
}

.match-result article {
  min-width: 300px;
}

.match-result .heading {
  font-size: 1.1em;
}

.match-result:nth-child(odd) {
  background-color: #C4EaC4;
}
